body {
	background-color: #ffffff;	margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;
}
BODY {
	FONT: 16px "Trebuchet MS", Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 16px; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif
}
