BODY {	background-color: #fbf3c5;	margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;FONT: 13px FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
SELECT {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
OPTION {	FONT-SIZE: 13px; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif}
'INPUT {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
TEXTAREA {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
P {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
TD {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
DIV {	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

A {FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}
A:hover {FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.navs {FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight: bold; }
.PageHeader {FONT-SIZE:16px;color: #b11218;	font-weight: bold; }
.SectionHeader {FONT-SIZE:14px;color: #b11218;	font-weight: bold; }
.TicketHeader {FONT-SIZE:16px;color: #000000;	font-weight: bold; }
.small {	FONT-SIZE:13px; color: #f5a920; }
.smallblack {	FONT-SIZE:12px; color: #000000; }
.dispatch {	FONT-SIZE:11px; color: #000000; }
.smallblack11 {FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.smallblack10 {FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.WhiteHeader {FONT-SIZE: 16px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.WhiteHeaderBold {FONT-SIZE: 16px; font-weight: bold; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.largetitle {FONT-SIZE: 22px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
.mediumtitle {FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;font-weight:bold}

.checkbox{height:25px; width:25px}
.radio{height:25px; width:25px}
.orangebutton {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:50px; Height:50px}
.orangebutton75 {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:75px; Height:75px}
.orangebuttonthinwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:ffffff; width:100px; Height:25px}
.orangebuttonthin {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:ffffff; width:75px; Height:25px}
.orangebutton75wide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:75px; Height:50px}
.orangebuttonwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:100px; Height:50px}
.orangebuttonsuperwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:150px; Height:50px}
.orangebuttonaddshift {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:ea8124; color:000000; width:200px; Height:50px}
.redbutton {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:c30a0d; color:ffffff; width:50px; Height:50px}
.redbuttonthinwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:c30a0d; color:ffffff; width:100px; Height:25px}
.redbuttonwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:c30a0d; color:ffffff; width:100px; Height:50px}
.redbuttonsuperwide {border-color: fff2cc;font-family: verdana; font-size: 9pt;background-color:c30a0d; color:ffffff; width:150px; Height:50px}

a.tooltip {FONT-SIZE: 11px; TEXT-DECORATION: none; }
a:hover {background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:450px;}
a.tooltip:hover span{display:inline; position:absolute; background:#ffffff; border:1px solid #cccccc; color:#6c6c6c;}